build --force_pic

common --enable_bzlmod
common --experimental_cc_shared_library
common --enable_platform_specific_config
common --experimental_rule_extension_api 
build --features=c++20

build --dynamic_mode=off

build --experimental_guard_against_concurrent_changes

build:ci --features=werror
test:ci --verbose_failures=true

try-import %workspace%/user.bazelrc
